<app-navbar></app-navbar>
<div class="container">
  <div class="text-center">
    <section class="h-100 vh-100 h-custom" style="background-color: white;">
      <div class="py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="row">
                    <h5 class="mb-3"><a routerLink="/products" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                    <hr>


                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div>
                        <p class="mb-1">Shopping cart</p>
                        <p class="mb-0" style="color:red">You have {{totalProducts}} items in your cart</p>
                      </div>
                      <div>
                        <p class="mb-0" style="color:red"><span class="text-muted">Total:</span > price <i class="fas fa-dollar-sign"></i>{{totalPrice | currency: 'USD' :''}}</p>
                      </div>
                    </div>

                    <div *ngFor="let prod of productsInCart">

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div class="ms-3">
                              <h5>{{prod.product.productName}}</h5>
                              <p class="small mb-0">{{prod.product.description}}</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 150px;">
                              <h5 class="fw-normal mb-0">Items: {{prod.totalItems}}</h5>
                            </div>
                            <div style="width: 150px;">
                              <h5 class="mb-0">{{prod.totalValue | currency}}</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success" type="button" (click)="onSubmit()" [disabled]="productsInCart.length == 0">Buy</button>
        </div>
      </div>
    </section>
  </div>

</div>
