<div class="m-2">

  <h1 class="text-success text-center">Products
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      ADD
    </button>
  </h1>

  <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add New Product</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">X</button>
        </div>
        <div class="modal-body">
          <app-product-form></app-product-form>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
  <span *ngIf="isLoading" ><i class="fas fa-spinner fa-pulse fa-lg"></i> Cargando</span>
</div>

  <div *ngIf="!isLoading" class="table-responsive">
    <div class="text-center">
  <span *ngIf="error" >
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
          <div class="alert alert-danger text-center">
            <h4 class="alert-heading">Oops, something went wrong!</h4>
            <p>We apologize for the inconvenience. An error occurred while processing your request.</p>
            <p>Please try again later or contact our support team for assistance.</p>
            <p>{{error.message}}</p>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
    <table *ngIf="!error" class="table table-hover table-bordered table-light">
      <thead>
        <tr>
          <th class="align-middle text-center">ID</th>
          <th class="align-middle text-center">PRODUCT NAME</th>
          <th class="align-middle text-center">PRICE</th>
          <th class="align-middle text-center">DETAILS</th>
          <th class="align-middle text-center">EDIT</th>
          <th class="align-middle text-center">DELETE</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of productList; let i = index">
          <td class="align-middle text-center">{{i + 1}}</td>
          <td class="align-middle text-center">{{product.productName}}</td>
          <td class="align-middle text-center">{{product.price}}</td>
          <td class="align-middle text-center">
            <button type="button" class="btn btn-success">See Details</button>
          </td>
          <td class="align-middle text-center">
            <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
          </td>
          <td class="align-middle text-center">
            <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt" style="color: black;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
